@mixin expanded {
    background-color: rgba($red, 0.543);
    height: 30rem;
}

.navbar{
    z-index: 2;
    background-color: transparent;
    border-bottom: 2px solid $grey;
    .navbar__items{
        padding-left: 4px;
        padding-right: 5px;
        border-radius: 20px;
        height:1px !important;
        position: relative;
        left: -10px;
        bottom: 10px;
        font-size: 11px;
    }
}

.window{
    position: fixed;
    transition: all .4s ease-in-out;
    height: 0;
    transition: all .4s ease-in-out;
}
.window_expanded{
    width: 100%;
    @include expanded;
}
